@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;800&family=Inter&display=swap");

* {
  font-family: 'JetBrains Mono', monospace;
}

.main {
  height: 100vh;
  background-color: var(--ColorGray);
}

:root {
  --ColorDarkBlue: #010326;
  --ColorMiddleBlue: #010B40;
  --ColorLightBlue: #022859;
  --ColorBlue: #20638C;
  --ColorBrow: #8C7F77;
}